@page "/account/settings"
@using AdminBlazor.Pages.Account.Settings.Components

<GridContent>
    <div class="main__b__2">
        <div class="leftMenu">
            <Menu 
                Mode="MenuMode.Inline" 
                SelectedKeys="new []{_selectKey}" 
                OnMenuItemClicked="SelectKey">
                @foreach (var item in _menuMap)
                {
                    <MenuItem Key="@item.Key">@item.Value</MenuItem>
                }
            </Menu>
        </div>
        <div class="right__b__0">
            <div class="title">@_menuMap[_selectKey]</div>
            @switch (_selectKey)
            {
                case "base":
                     <BaseView />
                    break;
                case "security":
                    <SecurityView />
                    break;
            }
        </div>
    </div>
</GridContent>
@code{
    private readonly Dictionary<string, string> _menuMap = new Dictionary<string, string>
        {
            {"base", "基本信息修改"},
            {"security", "安全设置"},
        };

    private string _selectKey = "base";

    private void SelectKey(MenuItem item)
    {
        _selectKey = item.Key;
    }
}